<div class="relative z-40 mt-10 pb-20">
  <h1 class="font-bold text-xl md:text-3xl text-white">
    Good <span>{{greeting[greetingState]}}, {{name}}!</span
    >
  </h1>

  <div class="mt-20 pb-10">
    <div class="grid lg:grid-cols-3 gap-5">
      <a
        class="bg-white shadow-lg border-4 border-gray-200 p-5 md:px-8 px-2 h-fit rounded-2xl gap-1 items-center cursor-pointer hover:bg-slate-50 transition-all"
      >
        <div class="md:h-[100px] h-full flex items-center">
          <div class="w-5/6">
            <app-bar-chart 
              [femaleChild]="female" 
              [maleChild]="male" 
              [totalAlumniChild]="female + male"></app-bar-chart>
          </div>
        </div>

      </a>

      <a
        routerLink="/events"
        class="bg-white  shadow-lg border-4 border-gray-200 p-5 px-8 h-fit rounded-2xl grid grid-cols-2 gap-1 items-center cursor-pointer hover:bg-slate-50 transition-all"
      >
        <div class="h-[100px]">
          <img
            src="../../../../../assets/images/news.png"
            alt=""
            class="w-[100px]"
          />
        </div>

        <div class="">
          <h1 class="text-5xl lg:text-6xl font-black text-slate-800 text-end">
            {{eventCount}}
          </h1>
          <p class="text-end text-sm text-slate-600 font-semibold mt-1">
            Posted 
          </p>
        </div>
      </a>
      <a
        routerLink="surveys"
        class="bg-white overflow-y-hidden shadow-lg border-4 border-gray-200 p-5 px-8 h-fit rounded-2xl grid grid-cols-2 gap-1 items-center cursor-pointer hover:bg-slate-50 transition-all"
      >
        <div class="h-[100px]">
          <img
            src="../../../../../assets/images/survey.png"
            alt=""
            class="w-[100px]"
          />
        </div>

        <div class="">
          <h1 class="text-5xl lg:text-6xl font-black text-slate-800 text-end">
            {{surveyCount}}
          </h1>
          <p class="text-end text-sm text-slate-600 font-semibold mt-1">
            Survey 
          </p>
        </div>
      </a>
    </div>
  </div>

  <hr />
</div>