<div class="relative z-40 mt-10 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Events</h1>
    <p class="text-slate-100 text-[12px]">Information about the system</p>
  </div>

  <div class="mt-10 pb-10">
    <div class="text-sm w-full relative mt-10 grid gap-20 z-40">
      <div class="" *ngIf="students">
        <div class="relative w-[350px] lg:w-full">
          <p-table
            [value]="students"
            #dt2
            dataKey="id"
            responsiveLayout="scroll"
            [autoLayout]="true"
            [paginator]="true"
            [rows]="10"
            [columns]="cols"
            selectionMode="multiple"
            [(selection)]="selectedStudents"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            styleClass="p-datatable-gridlines"
            [globalFilterFields]="[
              'StudentCredential.schoolId',
              'name',
              'email',
              'StudentCredential.section',
              'StudentCredential.year',
              'StudentCredential.Course.acronym'
            ]"
          >
            <ng-template pTemplate="caption">
              <div class="grid gap-2 md:flex md:justify-between">
                <div class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    #textInput
                    (input)="dt2.filterGlobal(textInput.value, 'contains')"
                    placeholder="Search keyword"
                  />
                </div>

                <div class="flex">
                  <button
                    (click)="createAccountModal = true"
                    class="bg-slate-800 text-white text-[12px] md:text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-slate-900/80 cursor-pointer transition-all"
                  >
                    <i class="fal fa-file-plus mr-1"></i>
                    Create
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr class="text-sm">
                <th field="StudentCredential.schoolId">Event Name</th>
                <th field="name">Organizer</th>
                <th field="StudentCredential.Course.acronym">Date</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student>
              <tr class="text-sm" [pSelectableRow]="student">
                <td>{{ student.StudentCredential.schoolId }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.StudentCredential.Course.acronym }}</td>
                <td>
                  <div
                    class="cursor-pointer"
                    [routerLink]="['/admin/user']"
                    [queryParams]="{ id: student.id }"
                  >
                    <i class="fad fa-eye"></i> View
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <p-dialog
      header="Create Event"
      [(visible)]="createAccountModal"
      [modal]="true"
      [style]="{ maxWidth: '400px', width: '400px' }"
    >
      <div class="mt-3">
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="createForm"
          class="w-full grid gap-2"
        >
          <input
            (change)="uploadImage($event)"
            type="file"
            class="hidden"
            placeholder="Enter email"
            name="eventImage"
            formControlName="image"
          />
          <div class="w-full">
            <div class="w-full">
              <label class="block text-[12px] font-medium text-gray-700"
                >Event name</label
              >
              <div class="mt-1 relative rounded-md w-full">
                <input
                  type="text"
                  class="py-2 outline-none w-full block px-3 text-[12px] border border-gray-200 rounded-md bg-slate-50"
                  placeholder="Enter event name"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="w-full">
              <label class="block text-[12px] font-medium text-gray-700"
                >Description</label
              >
              <div class="mt-1 relative rounded-md w-full">
                <textarea
                  type="text"
                  class="py-2 outline-none w-full block px-3 text-[12px] border border-gray-200 rounded-md bg-slate-50 max-h-[200px] min-h-[100px]"
                  placeholder="Enter event description"
                  formControlName="email"
                  rows="6"
                ></textarea>
              </div>
            </div>
            <div class="w-full">
              <label class="block text-[12px] font-medium text-gray-700"
                >Date</label
              >
              <div class="mt-1 relative rounded-md w-full">
                <input
                  type="date"
                  class="py-2 outline-none w-full block px-3 text-[12px] border border-gray-200 rounded-md bg-slate-50"
                  placeholder="Enter event name"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="w-full">
              <label class="block text-[12px] font-medium text-gray-700"
                >Venue</label
              >
              <div class="mt-1 relative rounded-md w-full">
                <input
                  type="text"
                  class="py-2 outline-none w-full block px-3 text-[12px] border border-gray-200 rounded-md bg-slate-50"
                  placeholder="Enter event name"
                  formControlName="email"
                />
              </div>
            </div>
            <div class="">
              <div class="flex items-center">
                <i
                  (click)="uploadEventImage()"
                  class="pi pi-camera text-lg px-1 my-1 rounded text-green-300 cursor border-2 border-green-300"
                ></i>
                <p
                  class="py-2 font-bold outline-none  w-full block px-1 text-[12px] rounded-md text-slate-400"
                >
                  Upload Image
                </p>
              </div>
              <div class="w-full flex items-center justify-center">
                <img
                  *ngIf="onLoadFile"
                  [src]="onLoadFile"
                  class="h-40 w-full rounded object-cover border-2 border-slate-200"
                />
              </div>
            </div>
          </div>

          <button
            [disabled]="submitLoading"
            type="submit"
            class="grid place-items-center cursor-pointer bg-red-500 text-white font-semibold rounded-md py-3 hover:bg-red-600/80 transition-all w-full mt-2"
          >
            <div class="flex items-center w-fit mx-auto" *ngIf="submitLoading">
              <svg
                class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>

              <span>Processing</span>
            </div>

            <span *ngIf="!submitLoading">Create</span>
          </button>
        </form>
      </div>
    </p-dialog>
  </div>
</div>
