<article class="w-full shadow-lg rounded border p-4" *ngFor="let event of events">
    <div class="flex justify-between items-center w-full">
        <span class="flex items-center gap-2 mx-2">
            <img src="../../../../../assets/logo/evsu_logo_3.png" alt="profile" class="w-12 h-12 object-cover rounded-full border-2 border-red-500">
            <div>
              <div class="text-slate-700 font-bold">
                Admin
              </div>
              <div class="text-xs text-blue-500 flex items-center gap-2">
                <i class="pi pi-globe"></i>posted: 23hr ago.
              </div>
            </div>
        </span>  
        <span class="relative" *ngIf="isAdmin">
            <i class="pi pi-ellipsis-v" (click)="op.toggle($event)"></i>
            <p-overlayPanel #op>
                <ng-template pTemplate>
                  <div class="md:max-w-[200px]">
                    <div
                      class="grid my-2 min-w-[100px]">
                        <div class="grid grid-col-1">
                            <div class="flex gap-2 items-center hover:text-orange-500 cursor-pointer">
                                <i class="pi pi-pencil"></i>
                                <p>Edit</p>
                            </div>
                            <div class="flex gap-2 mt-2 items-center hover:text-red-500 cursor-pointer">
                                <i class="pi pi-trash"></i>
                                <p>Delete</p>
                            </div>
                        </div>
                    </div>
                </div>
                </ng-template>
            </p-overlayPanel>
        </span>
        
    </div>
    <hr class="my-3"/>
    <div class="m-2 text-slate-700 font-medium">
      {{event.eventName}}
    </div>
    <div class="p-3 bg-gray-200 rounded" *ngIf="event.image">
      <img class="rounded w-full h-[280px]  object-scale-down" [src]="event.image" alt="profile">
    </div>
    <div class=" mt-4 flex items-center gap-2 mx-2">
        <span class=" flex items-center gap-1">
            <p (click)="openComment(event.id)" class="pi pi-comments text-blue-500 hover:text-blue-300"></p>
            <span class="text-slate-700 text-sm">200 Comments</span>
        </span>
        <span class=" flex items-center gap-1">
            <p class="pi pi-star-fill text-yellow-500 hover:text-yellow-300"></p>
            <span class="text-slate-700 text-sm">200 Likes</span>
        </span>
    </div>
    <div *ngIf="openCommentThroughIndex == event.id" >
        <div  class="shadow-md border my-2 p-3" *ngFor="let comment of comments">
            <span class="flex items-center  flex justify-between">
                <div class="flex items-center  gap-2 mx-2">
                    <img src="https://static.wikia.nocookie.net/97553714-a5ef-4af5-81c5-8e10a31c0aae" alt="profile" class="w-8 h-8 object-cover rounded-full border-2 border-red-500">
                    <div class="flex items-center gap-2">
                        <div>
                            <div class="text-slate-700 text-sm font-bold">
                              {{comment.User.name}}
                            </div>
                            <div class="text-xs text-blue-500 flex items-center gap-2">
                              @{{comment.User.email}}
                            </div>
                          </div>
                    </div>
                </div>
                <span class="relative" *ngIf="isOwner || isAdmin">
                    <i class="pi pi-ellipsis-v" (click)="op2.toggle($event)"></i>
                    <p-overlayPanel #op2>
                        <ng-template pTemplate>
                          <div class="md:max-w-[200px]">
                            <div
                              class="grid my-2 min-w-[100px]">
                                <div class="grid grid-col-1">
                                    <div class="flex gap-2 items-center hover:text-orange-500 cursor-pointer">
                                        <i class="pi pi-pencil"></i>
                                        <p>Edit</p>
                                    </div>
                                    <div class="flex gap-2 mt-2 items-center hover:text-red-500 cursor-pointer">
                                        <i class="pi pi-trash"></i>
                                        <p>Delete</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-template>
                    </p-overlayPanel>
                </span>
            </span>  
            <hr class="my-3"/>
            <div class="px-4 mt-3">
                <p class="text-[12px] md:text-base">{{comment.commentContext}}</p>
                <div class="text-[10px] justify-end py-1 text-blue-500 flex items-center gap-2">
                    <i class="pi pi-globe"></i>
                    {{comment.updatedAt | dateAgo}}
                </div>
            </div>
        </div>
        <form class="mt-3 flex items-center" [formGroup]="commentForm"  (ngSubmit)="postComment(event.id)">
            <textarea
                  class="w-full text-md  shadow-lg rounded borderoutline-0"
                  type="text"
                  placeholder="Enter your thought about this ..."
                  pInputText
                  formControlName="commentContext"
                  required
                  ></textarea>
            <button *ngIf="isCommentSending" class="bg-gray-200 p-4 shadow-lg border-slate-600 border rounded mx-2" type="submit"><i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i></button>
            <button *ngIf="!isCommentSending" class="bg-gray-200 shadow-lg p-4 border rounded mx-2 hover:text-green-500 hover:bg-green-100" type="submit"><i class="pi pi-send" style="font-size: 1.5rem"></i></button>
        </form>
    </div>
    
   
  </article>