<div class="relative z-40 mt-10 pb-20">
    <div class="">
      <h1 class="font-bold text-xl md:text-3xl text-white">Files</h1>
      <p class="text-slate-100 text-[12px]">Information about the system</p>
    </div>
    <div class="mt-5">
        <div class="flex gap-4">
            <div routerLink="/admin/files/employed" class="flex items-center hover:text-slate-500 justify-center flex-col cursor-pointer">
                <i class="fal fa-folder text-5xl"></i>
                <p class="text-bold text-[12px]">Employed files</p>
            </div>
            <div class="flex items-center hover:text-slate-500 justify-center flex-col cursor-pointer">
                <i class="fal fa-folder text-5xl"></i>
                <p class="text-bold text-[12px]">Self-employed files</p>
            </div>
        </div>
    </div>
</div>