<div class="relative z-40 mt-10 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">Alumni</h1>
    <p class="text-slate-100 text-[12px]">Information about the system</p>
  </div>

  <div class="mt-10 pb-10">
    <div class="text-sm w-full relative mt-10 grid gap-20 z-40">
      <div class="" *ngIf="alumni">
        <div class="relative w-[350px] lg:w-full">
          <p-table
            [value]="alumni"
            #dt2
            dataKey="id"
            responsiveLayout="scroll"
            [autoLayout]="true"
            [paginator]="true"
            [rows]="10"
            [columns]="cols"
            selectionMode="multiple"
            [(selection)]="selectedStudents"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10, 25, 50]"
            styleClass="p-datatable-gridlines"
            [globalFilterFields]="[
              'AlumniCredential.studentId',
              'name',
              'email',
              'AlumniCredential.Course.acronym',
              'status'
            ]"
          >
            <ng-template pTemplate="caption">
              <div class="grid gap-2 md:flex md:justify-between">
                <div class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input
                    pInputText
                    type="text"
                    #textInput
                    (input)="dt2.filterGlobal(textInput.value, 'contains')"
                    placeholder="Search keyword"
                  />
                </div>

                <div class="flex">
                  <div class="flex items-center mr-2 gap-1">
                    <input
                      type="file"
                      name="file"
                      #importInput
                      class="custom-file-input hidden"
                      id="inputGroupFile"
                      required
                      value=""
                      (change)="handleImport($event)"
                      (click)="importInput.value = ''"
                      accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                    />

                    <button
                      (click)="retrieve()"
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-users mr-1"></i>
                      Retrieve
                    </button>


                    <button
                      (click)="importInput.click()"
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-upload mr-1"></i>
                      Import
                    </button>

                    <button
                      (click)="dt2.exportCSV()"
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-download mr-1"></i>
                      CSV
                    </button>
                    <button
                      (click)="dt2.exportCSV({ selectionOnly: true })"
                      pTooltip="Selection Only"
                      tooltipPosition="bottom"
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-download mr-1"></i>
                      CSV (Selected)
                    </button>
                    <button
                      (click)="exportExcel()"
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-download mr-1"></i>
                      Excel
                    </button>
                    <button
                      (click)="exportPdf()"
                      class="bg-slate-100 hover:bg-slate-200 border border-slate-200 h-fit px-2 py-1 text-sm rounded-md"
                    >
                      <i class="fad fa-download mr-1"></i>
                      PDF
                    </button>
                  </div>

                  <button
                    (click)="createAccountModal = true"
                    class="bg-slate-800 text-white text-[12px] md:text-sm font-semibold py-3 px-5 rounded-3xl hover:bg-slate-900/80 cursor-pointer transition-all"
                  >
                    <i class="fal fa-file-plus mr-1"></i>
                    Create
                  </button>
                </div>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr class="text-sm">
                <th field="AlumniCredential.studentId">ID number</th>
                <th field="name">Name</th>
                <th field="AlumniCredentialschoolId.Course.acronym">Course</th>
                <th field="AlumniCredentialschoolId.gradClass">Class</th>
                <th field="email">Email</th>
                <th field="status">Status</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-alum>
              <tr class="text-sm" [pSelectableRow]="alum">
                <td>{{ alum.AlumniCredential.studentId }}</td>
                <td>{{ alum.name }}</td>
                <td>{{ alum.AlumniCredential.Course.acronym }}</td>
                <td>{{ alum.AlumniCredential.gradClass }}</td>
                <td>{{ alum.email }}</td>
                <td>
                  <div
                    class="py-1 px-3 w-fit rounded-lg text-[12px] font-semibold capitalize"
                    [ngClass]="
                      alum.status == 'active'
                        ? 'bg-green-200 text-green-900'
                        : 'bg-red-200 text-red-900'
                    "
                  >
                    {{ alum.status }}
                  </div>
                </td>
                <td>
                  <div
                    class="cursor-pointer"
                    [routerLink]="['/admin/alum']"
                    [queryParams]="{ id: alum.id }"
                  >
                    <i class="fad fa-eye"></i> View
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

    <p-dialog
      header="Create account"
      [(visible)]="createAccountModal"
      [modal]="true"
      appendTo="body"
      [style]="{ maxWidth: '400px', width: '400px' }"
    >
      <div class="mt-3">
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="createForm"
          class="w-full grid gap-2"
        >
          <div class="w-full">
            <label class="block text-[12px] font-medium text-gray-700"
              >Name</label
            >
            <div class="mt-1 relative rounded-md w-full">
              <input
                type="text"
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
                placeholder="Enter name"
                formControlName="name"
              />
            </div>
          </div>

          <div class="w-full">
            <label class="block text-[12px] font-medium text-gray-700"
              >Email</label
            >
            <div class="mt-1 relative rounded-md w-full">
              <input
                type="email"
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
                placeholder="Enter email"
                formControlName="email"
              />
            </div>
          </div>

          <div class="w-full">
            <label class="block text-[12px] font-medium text-gray-700"
              >Student ID number</label
            >
            <div class="mt-1 relative rounded-md w-full">
              <input
                type="text"
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
                placeholder="Enter student number"
                formControlName="studentId"
              />
            </div>
          </div>

          <div>
            <label class="block text-[12px] font-medium text-gray-700"
              >Course</label
            >
            <div class="mt-1 relative rounded-md">
              <select
                formControlName="course"
                required
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50 cursor-pointer"
              >
                <option value="" selected disabled hidden class="">
                  Select Course
                </option>
                <option *ngFor="let course of courses" [value]="course.id">
                  {{ course.title }}
                </option>
              </select>
            </div>
          </div>

          <div>
            <label class="block text-[12px] font-medium text-gray-700"
              >Year Graduated</label
            >
            <div class="mt-1 relative rounded-md">
              <input
                type="number"
                formControlName="yearGraduated"
                placeholder="Ex: 2023"
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
              />
            </div>
          </div>

          <div class="w-full">
            <label class="block text-[12px] font-medium text-gray-700"s
              >Password</label
            >
            <div class="mt-1 relative rounded-md shadow-sm w-full">
              <input
                type="text"
                class="py-2 outline-none w-full block px-3 text-[12px] border-gray-300 rounded-md bg-slate-50"
                placeholder="Enter password"
                formControlName="password"
              />
            </div>
          </div>

          <button
            [disabled]="submitLoading"
            type="submit"
            class="grid place-items-center cursor-pointer bg-slate-800 text-white font-semibold rounded-md py-3 hover:bg-slate-900/80 transition-all w-full mt-2"
          >
            <div class="flex items-center w-fit mx-auto" *ngIf="submitLoading">
              <svg
                class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>

              <span>Processing</span>
            </div>

            <span *ngIf="!submitLoading">Create</span>
          </button>
        </form>
      </div>
    </p-dialog>

    <!-- delete user -->
    <p-dialog
      header="Deleted User"
      [(visible)]="isShowDeletedUser"
      [modal]="true"
      [style]="{ maxWidth: '400px', width: '400px' }"
    >
    <ol>
      <li *ngFor="let user of deletedUsers" class="flex overflow-x-hidden items-center gap-2 w-full border-2 shadow-md rounded flex-col px-3 py-2">
        <div class="flex items-center gap-3 w-full">
          <img [src]="user?.image ? user?.image : '../../../../../assets/images/student.png'" class="h-[5rem] w-[5rem] rounded border border-red-500" alt="">
          <div class="flex  flex-col  justify-center px-3 w-full">
            <p class=" font-[800]">{{user?.name | titlecase}}</p>
            <p class="text-[12px] text-blue-500 mb-2">{{user?.email}}</p>
            <div class="flex w-full justify-around w-full flex-col items-center text-[12px] text-white">
              <button [disabled]="isRecovering || isDeletingPermanent" (click)="recover(user.id)"  class="rounded px-3 w-full flex items-center justify-center gap-2 py-1 bg-green-600 hover:bg-green-400 shadow-md border cursor-pointer">
                <i *ngIf="isRecovering" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i> {{ isRecovering ? 'Processing...' : 'Recover'}}
              </button>
              <button [disabled]="isRecovering || isDeletingPermanent" (click)="deletePermanently(user.id)" class="rounded px-3 w-full flex items-center justify-center gap-2 py-1 bg-red-600 hover:bg-red-400 shadow-md border cursor-pointer">
                <i *ngIf="isDeletingPermanent" class="pi pi-spin pi-spinner" style="font-size: 1rem"></i> {{ isDeletingPermanent ? 'Processing...' : 'Delete Permanently'}}
              </button>
            </div>
          </div>
        </div>
      </li>
      <li *ngIf="deletedUsers.length == 0">
        <img src="../../../../../assets//images/noDeleteUser.jpg" alt="">
        <div class="text-slate-800 font-bold my-1 w-full text-center"> No Data</div>
      </li>
    </ol>
  </p-dialog>
  </div>
</div>
