<div class="w-full">
  <div class="bg-slate-800 w-full h-[230px] absolute z-10"></div>

  <div class="max-w-[1200px] mx-auto relative z-20 p-5  pb-10">
    <div
      class="flex w-[40px] h-[40px] rounded-full items-center justify-center font-semibold text-white bg-slate-900 py-2 px-3 cursor-pointer hover:bg-slate-900/50 hover:shadow-md transition-all"
      (click)="goBack()"
    >
      <i class="fal fa-arrow-left"></i>
    </div>

    <div *ngIf="!isLoading && !alum" class="mt-52 grid place-items-center">
      <div class="text-slate-800 text-center">
        <img
          src="../../../../../assets/images/empty-box.png"
          class="w-[200px] h-[200px] lg:w-[250px] lg:h-[250px]"
          alt=""
        />
        <h1 class="text-center mt-5 font-semibold">
          Oops! There's nothing here.
        </h1>
      </div>
    </div>

    <div *ngIf="alum" class="mt-20 lg:mt-24">
      <div class="flex justify-between items-center">
        <div class="md:flex">
          <div class="bg-slate-200 border-2 border-red-500 w-fit rounded-full">
            <img
              [src]="
                alum.image == null || alum?.length == 0 ? defaultImg : alum.image
              "
              alt=""
              class="w-[200px] h-[200px] rounded-full object-cover"
            />
          </div>

          <div class="md:ml-5 mt-5 md:mt-24">
            <h1
              class="font-bold text-2xl md:text-3xl text-slate-900 capitalize"
            >
              {{ alum.name }}
            </h1>
            <select *ngIf="records.length" (change)="selectRecord($event)" class="text-slate-700 text-[14px] outline-0 bg-slate-200 mt-1 rounded px-2 py-1" name="" id="">
              <option *ngFor="let record of records" [value]="record.id">{{momentMDY(record.createdAt)}}</option>
            </select>
          </div>
        </div>

        <div class="flex items-center">
          <div
            (click)="opAction.toggle($event)"
            class="md:mt-5 flex items-center bg-gray-100 text-slate-800 border-2 border-slate-300 text-sm font-bold py-2 md:py-1 rounded-md w-fit px-3 hover:bg-slate-200 transition-all cursor-pointer"
          >
            <i class="fad fa-cog"></i>
            <div class="ml-2 hidden md:block">Action</div>
          </div>
        </div>
      </div>

      <div *ngIf="isDataLoaded" class="grid md:grid-cols-2 grid-cols-1 mt-16 relative mb-20">
        <div class="flex flex-wrap w-full gap-3">
          <div class="grid gap-3 h-fit py-2 mx-auto rounded md:w-[16rem] w-full border shadow-md px-3 flex">
            <h1 class="font-bold text-[14px] text-blue-600">Course and Student Information</h1>
            <div class="flex gap-2 items-center text-[11px]" *ngFor="let course of getObjectKeys(courses)">
              <div class="text-slate-900  py-1 font-bold">{{course}}</div>
              <div class="bg-slate-100 break-all py-1 px-3 rounded-md w-fit ">
                {{ courses[course] ? courses[course] : 'N/A' }}
              </div>
            </div>
          </div>

          <div *ngIf="getObjectKeys(generalInformation)?.length" class="grid gap-3 h-fit py-2 md:w-[16rem] w-full  mx-auto rounded  border shadow-md px-3 flex">
            <h1 class="font-bold text-[14px] text-blue-600">General Information</h1>
            <div class="flex gap-2 items-center text-[11px]" *ngFor="let info of getObjectKeys(generalInformation)">
              <div class="text-slate-900 py-1  font-bold">{{info}}</div>
              <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                {{ generalInformation[info] }}
              </div>
            </div>
          </div>

          <div *ngIf="professionalExam && professionalExam.length != 0" class="grid gap-3 h-fit py-2 w-full  mx-auto rounded  border shadow-md px-3 flex">
            <h1 class="font-bold text-[14px] text-blue-600"> Professional Examination/s Passed</h1>
            <div class="">
              <div class="grid grid-cols-3 gap-2 mx-1 text-[11px]" *ngFor="let exam of professionalExam">
                <div>
                  <div class="text-slate-900 py-1  font-bold">Name of Examination (PRC, CSC and TESDA)</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{exam?.examName}}
                  </div>
                </div>
                <div>
                  <div class="text-slate-900 py-1  font-bold">Year of Examination</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{momentMDY(exam?.yearOfExam)}}
                  </div>
                </div>
                <div>
                  <div class="text-slate-900 py-1  font-bold">Rank/Rating (Optional)</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{exam?.rating ? exam?.rating : 'N/A'}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="educationalBG" class="grid gap-3 h-fit py-2  w-full  mx-auto rounded  border shadow-md px-3 flex">
            <h1 class="font-bold text-[14px] text-blue-600">Educational Background</h1>
            <div class=" gap-2 grid grid-cols-3 w-full text-[11px]" *ngFor="let education of educationalBG">
              <div>
                <div class="text-slate-900 py-1  font-bold">Degree:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ education.degree }}
                </div>
              </div>
              <div>
                <div class="text-slate-900 py-1  font-bold">University:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ education.university }}
                </div>
              </div>
              
              <div>
                <div class="text-slate-900 py-1  font-bold">Year Graduated:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ education.yearGraduated }}
                </div>
              </div>
            </div>
          </div>


          <div *ngIf="workHistory?.length != 0 && workHistory" class="grid gap-3 h-fit py-2  w-full  mx-auto rounded  border shadow-md px-3 flex">
            <h1 class="font-bold text-[14px] text-blue-600">WORK HISTORY</h1>
            <div class=" gap-2 grid grid-cols-3 w-full text-[11px]" *ngFor="let work of workHistory">
              <div>
                <div class="text-slate-900 py-1  font-bold">Name of Company:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ work.NameOfCompany }}
                </div>
              </div>
              <div>
                <div class="text-slate-900 py-1  font-bold">Address:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ work.Address }}
                </div>
              </div>
              <div>
                <div class="text-slate-900 py-1  font-bold">Year Employed:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ work.YearEmployed }}
                </div>
              </div>
              <div>
                <div class="text-slate-900 py-1  font-bold">Designation:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ work.Designation }}
                </div>
              </div>
              <div>
                <div class="text-slate-900 py-1  font-bold">Monthly Income:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ work.MonthlyIncome != 0 ? work.MonthlyIncome : 'N/A' }}
                </div>
              </div>
              <div>
                <div class="text-slate-900 py-1  font-bold">Number of Years Served:</div>
                <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                  {{ work.NumOfYrServed }}
                </div>
              </div>
              <hr class="col-span-3 my-1 border-1" *ngIf="workHistory?.length > 1" />
              
            </div>
          </div>

          <div *ngIf="unemployedInfo" class="grid gap-3 h-fit py-2  w-full  mx-auto rounded  border shadow-md px-3 flex">
            <h1 class="font-bold text-[14px] text-blue-600">Employment Information (Unemployed)</h1>
            <div class=" gap-2 grid grid-cols-1 w-full text-[11px]">
              <div class="grid grid-cols-1">
                  <div class="text-slate-900 py-1  font-bold">Reason:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{unemployedInfo?.reason}}
                  </div>
                </div>
            </div>
          </div>

          <div *ngIf="employed" class="grid gap-3 h-fit py-2  w-full  mx-auto rounded  border shadow-md px-3 flex">
            <h1 class="font-bold text-[14px] text-blue-600">Employment Information (Employed)</h1>
            <div class=" gap-2 grid grid-cols-1 w-full text-[11px]">

              <div class="grid grid-cols-3 gap-1">
                <div>
                  <div class="text-slate-900 py-1  font-bold">Name of the Organization:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{employed?.orgName}}
                  </div>
                </div>
                <div>
                  <div class="text-slate-900 py-1  font-bold">Address:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{employed?.orgAddress}}
                  </div>
                </div>
                <div>
                  <div class="text-slate-900 py-1  font-bold">Type of Organization:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{employed?.typeOfOrgChosen}}
                  </div>
                </div>
              </div>


              <div class="grid grid-cols-3 gap-1">
                <div>
                  <div class="text-slate-900  py-1  font-bold">Occupational Classification:</div>
                  <div class="bg-slate-100 gap-1 py-1 break-all  px-3 rounded-md w-fit ">
                    {{employed?.OtherOccupClass?.otherOccup ? employed?.OtherOccupClass?.otherOccup : employed?.occupClass}}
                  </div>
                </div>
                <div>
                  <div class="text-slate-900 py-1  font-bold">Job Status:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{employed?.jobStatus}}
                  </div>
                </div>
              </div>

              <div class="py-1 w-full text-blue-500 font-bold my-1">Work Experience:</div>
              <div>
                <div class="grid grid-cols-3 border gap-2 p-2 rounded" *ngFor="let emp of employed?.WorkExps" >

                  <div>
                    <div class="text-slate-900 py-1  font-bold">Employment after Graduation:</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{workExpDictionary[emp?.rangeOfYear]}}
                    </div>
                  </div>
                  
                  <div>
                    <div class="text-slate-900 py-1  font-bold">Nature of Work:</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{emp?.natureOfWork}}
                    </div>
                  </div>

                  <div>
                    <div class="text-slate-900 py-1  font-bold">Job Status:</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{emp.jobStatus}}
                    </div>
                  </div>

                  <div>
                    <div class="text-slate-900 py-1  font-bold">Job Related to the Degree Earned:</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{emp.JobRelatedToDegree ? "Yes" : "No"}}
                    </div>
                  </div>

                  <div>
                    <div class="text-slate-900 py-1  font-bold">Enrolled in other Degree Courses:</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{emp.enrolledOtherCourses ? "Yes" : "No"}}
                    </div>
                  </div>
              </div>
            </div>

              <div class="py-1 w-full text-blue-500 font-bold my-1">Designation or Work Position:</div>
              <div>
                <div class="grid grid-cols-2 border gap-2 p-2 rounded"  >

                  <div>
                    <div class="text-slate-900 py-1  font-bold">Designation or Work Position:</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{employed?.workPosition}}
                    </div>
                  </div>

                  <div>
                    <div class="text-slate-900 py-1  font-bold">Number of years in the company:</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{employed?.yrsInCompany}}
                    </div>
                  </div>

                  <div >
                    <div class="text-slate-900 py-1  font-bold">Awards or recognitions received (please specify):</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{employed?.awards ? employed?.awards : "N/A"}}
                    </div>
                  </div>

                  <div>
                    <div class="text-slate-900 py-1  font-bold">Monthly Income Range::</div>
                    <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                      {{employed?.monthlyIncome}}
                    </div>
                  </div>
                  
              </div>
            </div>

            <div>
              <div class="grid grid-cols-1 border gap-2 p-2 rounded"  >

                <div>
                  <div class="text-slate-900 py-1  font-bold">How did you come to know about your current job?:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{employed?.OtherReasonOfHiring?.reasonOfHiring ?  employed?.OtherReasonOfHiring?.reasonOfHiring : employed?.otherReasonOfHiring}}
                  </div>
                </div>
                <div>
                  <div class="text-slate-900 py-1  font-bold">Is your current job related to the degree earned from EVSU?:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{ employed?.isDegreeRelativeTakenInEVSU ? 'Yes' : "No"}}
                  </div>
                </div>
              </div>
            </div>
          </div>




          
          <hr class="md:hidden" />
          
        </div>
        
       

          <div *ngIf="selfEmployed" class="grid gap-3 h-fit py-2  w-full  mx-auto rounded  border shadow-md px-3 flex">
            <h1 class="font-bold text-[14px] text-blue-600">Employment Information (Self Employed)</h1>
            <div class=" gap-2 grid grid-cols-1 w-full text-[11px]">
              <div class="grid grid-cols-1">
                  <div class="text-slate-900 py-1  font-bold">Name of Business:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{selfEmployed?.businessName}}
                  </div>
              </div>
              <div class="grid grid-cols-1">
                  <div class="text-slate-900 py-1  font-bold">Address:</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{selfEmployed?.address}}
                  </div>
              </div>
              <div class="grid grid-cols-1">
                  <div class="text-slate-900 py-1  font-bold">Nature of Business (please specify)::</div>
                  <div class="bg-slate-100 py-1 break-all  px-3 rounded-md w-fit ">
                    {{selfEmployed?.natureOfBusiness}}
                  </div>
              </div>
            </div>
          </div>
          

      </div>
      <div class="relative w-full">
        <div class="sticky top-0 w-full">
          <div class="mt-5 md:mt-0 px-3 mx-3">
            <div class="mb-2 font-semibold pl-6">Logs</div>
  
            <div
              class="max-h-[400px] min-h-[200px] overflow-y-auto p-2 border border-slate-100 rounded-md"
            >
              <div
                *ngIf="alum?.Logs?.length == 0"
                class="h-[200px] grid place-items-center"
              >
                <div class="">
                  <img
                    src="../../../../../assets/images/empty-box.png"
                    alt=""
                    class="w-[80px] h-[80px] object-cover mx-auto"
                  />
                  <p class="text-[12px] text-center mt-2">No log(s) yet.</p>
                </div>
              </div>
  
              <p-timeline [value]="alum.Logs" align="left">
                <ng-template pTemplate="content" let-log>
                  <div class="mb-1">
                    <div class="text-[10px] md:text-[11px]">
                      {{ dateFormat(log.createdAt) }}
                    </div>
                    <div class="text-[12px] md:text-sm">
                      {{ log.description }}
                    </div>
                  </div>
                </ng-template>
              </p-timeline>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!isDataLoaded" class="flex w-full items-center justify-center mt-10">
      <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
    </div>
  </div>
</div>

<p-overlayPanel #opAction>
  <ng-template pTemplate>
    <div class="md:max-w-[400px]">
      <div class="grid gap-1">
        <div class="text-[12px] px-2 py-2 flex items-center">
          <div class="mr-2">Set status</div>
          <p-inputSwitch
            [(ngModel)]="status"
            (onChange)="setStatus()"
          ></p-inputSwitch>
        </div>
        <div
          (click)="deleteAccount(); opAction.toggle($event)"
          class="text-[12px] px-2 py-2 hover:bg-slate-100 cursor-pointer transition-all"
        >
          <i class="fal fa-trash mr-1"></i>Delete account
        </div>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>
