<div class="relative z-50" *ngIf="profile">
  <p-dialog
    header="Edit profile"
    [(visible)]="editModal"
    [modal]="true"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
    <div class="mt-3">
      <form (ngSubmit)="onSubmit()">
        <div class="w-fit relative mx-auto mb-5 bg-slate-50 rounded-full h-fit">
          <img
            [src]="
              profile.image == null && previewImg == ''
                ? defaultImg
                : previewImg
            "
            alt=""
            class="w-[150px] h-[150px] object-cover rounded-full"
          />
          <input
            #imageInput
            type="file"
            accept="image/x-png,image/gif,image/jpeg"
            [(ngModel)]="modalData.image"
            [ngModelOptions]="{ standalone: true }"
            class="hidden"
            (change)="loadInputImgToSrc($event)"
          />
          <div
            (click)="imageInput.click()"
            class="absolute bottom-5 right-7 bg-gray-800/30 w-[35px] h-[35px] hover:bg-gray-900/50 transition-all rounded-full grid place-items-center text-white cursor-pointer"
          >
            <div class="fal fa-camera"></div>
          </div>
        </div>

        <div class="grid gap-2">
          <div>
            <label class="block text-[12px] font-medium text-gray-700"
              >Full name</label
            >
            <div class="mt-1 relative rounded-md">
              <input
                type="text"
                class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
                placeholder="Your full name"
                [(ngModel)]="modalData.name"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </div>
          </div>

          <div>
            <label class="block text-[12px] font-medium text-gray-700"
              >Email</label
            >
            <div class="mt-1 relative rounded-md">
              <input
                type="text"
                class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
                placeholder="Your email"
                [(ngModel)]="modalData.email"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </div>
          </div>

          <button
            [disabled]="submitLoading"
            class="mt-2 grid place-items-center bg-red-500 font-semibold rounded-md shadow-sm text-slate-50 py-2 border-red-600 hover:bg-red-500/80 transition-all w-full"
          >
            <div class="flex items-center w-fit mx-autoo" *ngIf="submitLoading">
              <svg
                class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>

              <span>Processing</span>
            </div>

            <span *ngIf="!submitLoading">Update</span>
          </button>
        </div>
      </form>
    </div>
  </p-dialog>
</div>

<div class="flex flex-col w-full">
  <div class="p-5 w-full mx-auto relative">
    <div class="relative h-[340px]">
      <img
        src="../../../../../assets/images/background.jpg"
        alt=""
        class="h-[150px] lg:h-[200px] object-cover w-full rounded-2xl"
      />

      <div
        class="flex items-center md:justify-between p-5 px-8 pt-0 relative -top-16 -translate-y-3"
      >
        <div class="md:flex relative w-fit mx-auto md:mx-0">
          <div class="bg-slate-50/50 w-fit h-fit rounded-full border-2 border-red-500 md:mr-4">
            <img
              [src]="profile.image == null ? defaultImg : profile.image"
              alt=""
              class="w-[200px] h-[200px] rounded-full object-cover mx-auto"
            />
          </div>

          <div class="mt-5 lg:mt-20 mx-auto text-center lg:text-start">
            <h1 class="font-semibold text-2xl capitalize">
              {{ profile?.name }}
            </h1>
            <div class="lg:flex items-center">
              <div class="text-[10px] flex items-center w-fit mx-auto lg:mx-0">
                <p class="mr-1 font-semibold bg-gray-100 py-1 px-2 rounded-md">
                  Alumni
                </p>
                <select (change)="selectedRecord($event)" class="mr-1 font-semibold bg-gray-100 py-1 px-2 rounded-md outline-0">
                  <option [value]="record.id" *ngFor="let record of records">{{momentMDY(record.updatedAt)}} <p *ngIf="record.updatedAt!=record.createdAt" class="text-slate-500">(edited)</p></option>
                </select>
              </div>
            </div>
            
          </div>
        </div>
        
        <div class="absolute flex  items-end  translate-y-[5px] flex-col gap-2 -top-10 right-5">
          <div
            (click)="op.toggle($event)"
            class="bg-gray-200 w-[50px] h-[50px] rounded-full grid place-items-center text-gray-500 cursor-pointer hover:bg-gray-200/80 transition-all"
          >
            <i class="fal fa-cog text-2xl"></i>
          </div>
          <div
            (click)="goBack()"
            class="bg-gray-200 w-[50px] h-[50px] rounded-full grid place-items-center text-gray-500 cursor-pointer hover:bg-gray-200/80 transition-all"
          >
            <i class="fal fa-arrow-left text-2xl"></i>
          </div>
          
        </div>
      </div>
    
      
    </div>
  </div>
  <div class="mb-5 flex justify-around  gap-2 mx-4 px-4 md:flex-row flex-col" *ngIf="profile">
    
    <div class="bg-slate-50 p-1 rounded-md w-fit h-fit">
      <table class="border border-gray-300 w-fit">
        <tr class="w-fit">
          <td class="border border-gray-300 p-1 w-fit px-2 text-[12px]">
            ID number:
          </td>
          <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
            {{ profile?.AlumniCredential?.studentId }}
          </td>
        </tr>

        <tr>
          <td class="border border-gray-300 p-1 px-2 text-[12px]">
            Course:
          </td>
          <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
            {{ profile?.AlumniCredential?.Course?.title }}
          </td>
        </tr>

        <tr>
          <td class="border border-gray-300 p-1 px-2 text-[12px]">
            Email:
          </td>
          <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
            {{ profile?.email }}
          </td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-1 px-2 text-[12px]">
            Academic Status:
          </td>
          <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
            <p
              class="mr-1 font-semibold text-white bg-red-500 py-1 px-2 rounded-md w-fit"
            >
              Graduate
            </p>
          </td>
        </tr>
        <tr>
          <td class="border border-gray-300 p-1 px-2 text-[12px]">
            Employment Status:
          </td>
          <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
            <p
              class="mr-1 font-semibold text-white bg-red-500 py-1 px-2 rounded-md w-fit"
            >
              {{employementType && isTaken ? capitalize(employementType) : 'N/A' }}
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div class="flex w-full">
      <div class="mt-5 md:mt-0 w-full">
        <div *ngIf="!isYearChanges" class="max-h-[400px] min-h-[200px] flex items-center justify-center">
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </div>
        <div
          *ngIf="isYearChanges"
          class="max-h-[400px] min-h-[200px] overflow-y-auto p-2 border border-slate-100 rounded-md"
        >
          <div
            *ngIf="!generalInfo[0] && !educationBG[0] && !workExpOneYearAbove && !feedBack || !isTaken"
            class="h-[200px] grid place-items-center"
          >
            <div class="">
              <img
                src="../../../../../assets/images/empty-box.png"
                alt=""
                class="w-[80px] h-[80px] object-cover mx-auto"
              />
              <p class="text-[12px] text-center mt-2">No data</p>
            </div>
          </div>


          <div *ngIf="generalInfo[0] && isTaken" class="mb-2 font-semibold pl-6">General Information</div>
          <p-timeline *ngIf="generalInfo[0] && isTaken" [value]="generalInfo" align="left" class="w-full py-1">
            <ng-template pTemplate="content" let-log>
              <div class="mb-1 text-[13px]">
                <ng-container>
                  
                  <span class="flex gap-2"><p class="font-bold">Email</p> {{ log?.secondaryEmail }}</span>
                  <span class="flex gap-2"><p class="font-bold">Address</p> {{ log?.address }}</span>
                  <span class="flex gap-2"><p class="font-bold">Contact Number</p> {{ log?.contactNumber }}</span>
                  <span class="flex gap-2"><p class="font-bold">Gender</p> {{ log?.sex }}</span>
                  <span class="flex gap-2"><p class="font-bold">Birth Day</p>{{ log?.birthDay | date:'longDate' }}</span>
                  
                </ng-container>
              </div>
            </ng-template>
          </p-timeline>




          <div *ngIf="educationBG[0]  && isTaken" class="mb-2 font-semibold pl-6 mt-5">Educational Background</div>
          <p-timeline *ngIf="educationBG[0] && isTaken" [value]="educationBG" align="left" class="w-full py-1">
            <ng-template pTemplate="content" let-log>
              <div class="mb-1">
                <ng-container>
                  <table class="w-full text-center">
                    <tr class="grid grid-cols-3 text-[12px]">
                      <th class="p-1 px-2 border rounded shadow  bg-purple-700 text-white">Degree</th>
                      <th class="p-1 px-2 border rounded shadow  bg-purple-700 text-white">University / College</th>
                      <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Year Graduated</th>
                    </tr>
                    <tr class="grid grid-cols-3 even:bg-gray-200"  *ngFor ="let education of educationBG[0]">
                      <td>{{education.degree}}</td>
                      <td>{{education.university}}</td>
                      <td>{{education.yearGraduated}}</td>
                    </tr>
                  </table>
                </ng-container>
                <p *ngIf="professionalExam[0]?.length" class="font-bold text-[14px] my-5 bg-red-500 px-2 py-1 rounded w-fit text-slate-100">Professional Examination/s Passed</p>
                <ng-container *ngIf="professionalExam[0]?.length">
                  <table class="w-full text-center">
                    <tr class="grid grid-cols-3 text-[12px]">
                      <th class="p-1 px-2 border rounded shadow  bg-purple-700 text-white">Name of Examination (PRC, CSC or TESDA)</th>
                      <th class="p-1 px-2 border rounded shadow  bg-purple-700 text-white">Year of Examination</th>
                      <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Rank/Rating</th>
                    </tr>
                    <tr class="grid grid-cols-3 even:bg-gray-200"  *ngFor ="let prof of professionalExam[0]">
                      <td>{{prof.examName}}</td>
                      <td>{{prof.yearOfExam | date:'mediumDate'}}</td>
                      <td>{{prof.rating ? prof.rating : 'N/A'}}</td>
                    </tr>
                  </table>
                </ng-container>
              </div>
            </ng-template>
          </p-timeline>

          <!-- employed -->

          <div *ngIf="employed[0]  && isTaken" class="mb-2 font-semibold pl-6 mt-5">Employment Information</div>
          <p-timeline *ngIf="employed[0] && isTaken" [value]="employed" align="left" class="w-full py-1">
            <ng-template pTemplate="content" let-log>
              <div class="mb-1 text-[13px]">
                <ng-container>
                  <div>
                    <div  class="p-1 border rounded shadow bg-purple-700 text-white w-fit my-3">Organization Details</div>
                    <div class="px-3">
                      <span class="flex gap-2"><p class="font-bold">Name of Organization</p> {{employed[0]?.orgName}}</span>
                      <span class="flex gap-2"><p class="font-bold">Address</p>{{employed[0]?.orgAddress}}</span>
                      <span class="flex gap-2"><p class="font-bold">Organization contact number</p>{{employed[0]?.orgNumber}}</span>
                      <span class="flex gap-2"><p class="font-bold">typeOfOrgChosen</p>{{employed[0]?.typeOfOrgChosen}}</span>
                    </div>
                  </div>
                  <div>
                    <div  class="p-1 border rounded shadow bg-purple-700 text-white w-fit my-3">Occupational Classification</div>
                    <div class="px-3">
                      <span class="flex gap-2"><p class="font-bold">Occupation name</p> {{employed[0]?.occupClass ? employed[0]?.occupClass : employed[0]?.OtherOccupClass }}</span>
                      <span class="flex gap-2"><p class="font-bold">Job Status</p> {{employed[0]?.jobStatus}}</span>
                    </div>
                  </div>
                  
                  <div>
                    <div  class="p-1 border rounded shadow bg-purple-700 text-white w-fit my-3">Designation or Work Position</div>
                    <div class="px-3">
                      <span class="flex gap-2"><p class="font-bold">Designation or Work Position</p> {{employed[0]?.workPosition}}</span>
                      <span class="flex gap-2"><p class="font-bold">Number of years in the company</p>{{employed[0]?.yrsInCompany}}</span>
                      <span class="flex gap-2"><p class="font-bold">Awards or recognitions received</p>{{employed[0]?.awards ? employed[0]?.awards : 'N/A'}}</span>
                      <span class="flex gap-2"><p class="font-bold">Monthly Income Range</p>{{employed[0]?.monthlyIncome}}</span>
                    </div>
                  </div>


                  <div>
                    <div  class="p-1 border rounded shadow bg-purple-700 text-white w-fit my-3">About the current job</div>
                    <div class="px-3">
                      <span class="flex gap-2"><p class="font-bold">How did you come to know about your current job?</p> {{employed[0]?.otherReasonOfHiring ? employed[0]?.otherReasonOfHiring : employed[0]?.OtherReasonOfHiring}}</span>
                      <span class="flex gap-2"><p class="font-bold">Is your current job related to the degree earned from EVSU?</p> {{employed[0]?.isDegreeRelativeTakenInEVSU ? 'Yes' : 'No'}}</span>
                    </div>
                  </div>


                  <div *ngIf="employed[0].WorkExps">
                    <div class="">
                      <table class="w-full text-center mt-3">
                        <tr class="grid grid-cols-5 text-[12px]">
                          <th class="p-1 px-2 border rounded shadow  bg-purple-700 text-white">Employment after Graduation</th>
                          <th class="p-1 px-2 border rounded shadow  bg-purple-700 text-white">Nature of Work</th>
                          <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Job Status</th>
                          <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Job Related to the Degree Earned</th>
                          <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Enrolled in other Degree Courses</th>
                        </tr>
                        <tr class="grid grid-cols-5 even:bg-gray-200"  *ngFor ="let workExpTemp of employed[0].WorkExps">
                          <td>{{workExp[workExpTemp?.rangeOfYear]}}</td>
                          <td>{{workExpTemp?.natureOfWork}}</td>
                          <td>{{workExpTemp?.jobStatus}}</td>
                          <td>{{workExpTemp?.JobRelatedToDegree ? 'Yes' : 'No'}}</td>
                          <td>{{workExpTemp?.enrolledOtherCourses ? 'Yes' : 'No'}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="employed[0]?.fileNameOfCertificate && employed[0]?.fileNameOfProof">
                    <div  class="p-1 border rounded shadow bg-purple-700 text-white w-fit my-3">Files</div>
                    <div class="px-3">
                      <span class="flex gap-2">
                        <p class="font-bold">Certificate of Employment</p> 
                        <a class="text-blue-500" [href]="employed[0]?.CertificateOfEmploy" target="_blank" >{{employed[0]?.fileNameOfCertificate}}</a>
                      </span>
                      <span class="flex gap-2"><p class="font-bold">proof of employment</p> 
                        <a class="text-blue-500" [href]="employed[0]?.proofOfEmp" target="_blank" >{{employed[0]?.fileNameOfProof}}</a></span>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </p-timeline>

          <!-- selfEmployed -->
          <div *ngIf="selfEmployed[0]  && isTaken" class="mb-2 font-semibold pl-6 mt-5">Employment Information </div>
          <p-timeline *ngIf="selfEmployed[0]  && isTaken" [value]="selfEmployed" align="left" class="w-full py-1">
            <ng-template pTemplate="content" let-log>
              <div class="mb-1 ">
                <ng-container>
                  <div class="text-[13px]">
                    <span class="flex gap-2"><p class="font-bold">Business name</p> {{  selfEmployed[0]?.businessName}}</span>
                    <span class="flex gap-2"><p class="font-bold">Address</p> {{  selfEmployed[0].address}}</span>
                    <span class="flex gap-2"><p class="font-bold">Nature of business</p> {{  selfEmployed[0].natureOfBusiness}}</span>
                  </div>
                  
                  <div *ngIf="selfEmployed[0]?.proofOfSelfEmployFile"  class="font-semibold text-[10px] flex items-center gap-2">
                    <p class="p-1 border rounded shadow bg-purple-700 text-white">proof of employment:</p>
                    <a target="_blank" [href]="selfEmployed[0].proofOfSelfEmployFile" class="text-[12px] text-blue-500">{{selfEmployed[0].fileName}} (view)</a>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </p-timeline>


          <!-- unemployed -->
          <div *ngIf="unemployed[0]  && isTaken" class="mb-2 font-semibold pl-6 mt-5">Employment Information </div>
          <p-timeline *ngIf="unemployed[0]  && isTaken" [value]="unemployed" align="left" class="w-full py-1">
            <ng-template pTemplate="content" let-log>
              <div class="mb-1">
                <ng-container>
                  <div  class="text-[13px] flex items-center gap-2  py-2">
                    <span class="flex gap-2"><p class="font-bold">Reason of unemployed</p> {{ unemployed[0]?.reason }}</span>
                  </div>
                </ng-container>
              </div>
            </ng-template>
          </p-timeline>
 


          <div *ngIf="workExpOneYearAbove[0]?.length  && isTaken" class="mb-2 font-semibold pl-6 mt-5"> Work History</div>
          <p-timeline *ngIf="workExpOneYearAbove[0]?.length && isTaken" [value]="workExpOneYearAbove" align="left" class="w-full py-1">
            <ng-template pTemplate="content" let-log>
              <div class="mb-1">
                <ng-container>
                  <table class="w-full text-center">
                    <tr class="grid grid-cols-6 text-[12px]">
                      <th class="p-1 px-2 border rounded shadow  bg-purple-700 text-white">Name of Company</th>
                      <th class="p-1 px-2 border rounded shadow  bg-purple-700 text-white">Address</th>
                      <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Year Employed</th>
                      <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Designation</th>
                      <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Number of Years Served</th>
                      <th class="p-1 px-2 border rounded shadow bg-purple-700 text-white">Monthly Income (Optional)</th>
                    </tr>
                    <tr class="grid grid-cols-6 even:bg-gray-200"  *ngFor ="let work of workExpOneYearAbove[0]">
                      <td>{{work.NameOfCompany}}</td>
                      <td>{{work.Address}}</td>
                      <td>{{work.YearEmployed}}</td>
                      <td>{{work.Designation}}</td>
                      <td>{{work.NumOfYrServed}}</td>
                      <td>{{work.MonthlyIncome}}</td>
                    </tr>
                  </table>
                </ng-container>
              </div>
            </ng-template>
          </p-timeline>

          <div *ngIf="feedBack[0]?.length  && isTaken" class="mb-2 font-semibold pl-6 mt-5"> Feedback</div>
          <p-timeline *ngIf="feedBack[0]?.length  && isTaken" [value]="feedBack" align="left" class="w-full py-1">
            <ng-template pTemplate="content" let-log>
              <div class="mb-1">
                <ng-container>
                  <div>{{feedBack[0][0].context}}</div>
                </ng-container>
              </div>
            </ng-template>
          </p-timeline>
                     
        </div>
      </div>
    </div>

  </div>
</div>

<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="md:max-w-[400px]">
      <div class="grid gap-1 relative">
        <div
          *ngIf="true"
          (click)="editModal = true; op.toggle($event)"
          class="text-[12px] px-2 py-2 hover:bg-slate-100 cursor-pointer transition-all"
        >
          <i class="fal fa-user mr-1"></i>Edit Profile
        </div>
        <div
          (click)="changePasswordModal = true"
          class="text-[12px] px-2 py-2 hover:bg-slate-100 cursor-pointer transition-all"
        >
          <i class="fal fa-cog mr-1"></i>Change Password
        </div>
        <div
          *ngIf="!isRetaking"
          (click)="retaking()"
          class="text-[12px] flex items-center px-2 py-2 hover:bg-slate-100 cursor-pointer transition-all"
        >
          <i class="fal fa-cog mr-1"></i>Retake Survey
          <div class="group flex items-center justify-center">
              <i class="pi pi-info-circle ml-1 hover:bg-red-500 w-fit h-fit rounded-full hover:text-[14px] hover:text-white text-red-400 text-[13px]"></i>
              <p class="invisible  group-hover:visible  absolute -bottom-[55px] p-2 left-10 w-full bg-red-100 text-[10px] text-black rounded showdow-lg">Retake/Update Survey if you got another job within this year.</p>
          </div>
        </div>
        <div
          *ngIf="isRetaking"
          class="text-[12px] px-2 py-2 hover:bg-slate-100 cursor-pointer transition-all"
        >
          <i class="pi pi-spin pi-cog mr-1" style="font-size: 13px"></i>Retake Survey
        </div>
        
        
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<p-dialog
  header="Change Password"
  [(visible)]="changePasswordModal"
  [modal]="true"
  [style]="{ maxWidth: '400px', width: '400px' }"
>
  <div class="mt-3">
    <form (ngSubmit)="changePassOnsubmit()">
      <div class="grid gap-2">
        <div>
          <label class="block text-[12px] font-medium text-gray-700"
            >Old Password</label
          >
          <div class="mt-1 relative rounded-md">
            <input
              type="text"
              class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
              placeholder="Your old password"
              [(ngModel)]="changePassData.oldpass"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
        </div>

        <div>
          <label class="block text-[12px] font-medium text-gray-700"
            >New Password</label
          >
          <div class="mt-1 relative rounded-md">
            <input
              type="text"
              class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
              placeholder="Your new password"
              [(ngModel)]="changePassData.newpass"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
        </div>

        <button
          [disabled]="submitLoading"
          class="mt-2 grid place-items-center bg-red-500 font-semibold rounded-md shadow-sm text-slate-50 py-2 border-red-600 hover:bg-red-500/80 transition-all w-full"
        >
          <div class="flex items-center w-fit mx-auto" *ngIf="submitLoading">
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>

            <span>Processing</span>
          </div>

          <span *ngIf="!submitLoading">Submit</span>
        </button>
      </div>
    </form>
  </div>
</p-dialog>
