<div class="relative z-50" *ngIf="profile">
  <p-dialog
    header="Edit profile"
    [(visible)]="editModal"
    [modal]="true"
    [style]="{ maxWidth: '400px', width: '400px' }"
  >
    <div class="mt-3">
      <form (ngSubmit)="onSubmit()">
        <div class="w-fit relative mx-auto mb-5 bg-slate-50 rounded-full h-fit">
          <img
            [src]="
              profile.image == null && previewImg == ''
                ? defaultImg
                : previewImg
            "
            alt=""
            class="w-[150px] h-[150px] object-cover rounded-full"
          />
          <input
            #imageInput
            type="file"
            accept="image/x-png,image/gif,image/jpeg"
            [(ngModel)]="profiledata.image"
            [ngModelOptions]="{ standalone: true }"
            class="hidden"
            (change)="loadInputImgToSrc($event)"
          />
          <div
            (click)="imageInput.click()"
            class="absolute bottom-5 right-7 bg-gray-800/30 w-[35px] h-[35px] hover:bg-gray-900/50 transition-all rounded-full grid place-items-center text-white cursor-pointer"
          >
            <div class="fal fa-camera"></div>
          </div>
        </div>

        <div class="grid gap-2">
          <div>
            <label class="block text-[12px] font-medium text-gray-700"
              >Full name</label
            >
            <div class="mt-1 relative rounded-md">
              <input
                type="text"
                class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
                placeholder="Your full name"
                [(ngModel)]="profiledata.name"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </div>
          </div>

          <div>
            <label class="block text-[12px] font-medium text-gray-700"
              >Username</label
            >
            <div class="mt-1 relative rounded-md">
              <input
                type="text"
                class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
                placeholder="Your username"
                [(ngModel)]="profiledata.username"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </div>
          </div>

          <div class="grid grid-cols-2 gap-2">
            <div>
              <label class="block text-[12px] font-medium text-gray-700"
                >Section</label
              >
              <div class="mt-1 relative rounded-md">
                <select
                  [(ngModel)]="profiledata.section"
                  [ngModelOptions]="{ standalone: true }"
                  class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 bg-slate-50 rounded-md cursor-pointer"
                >
                  <option value="" selected disabled hidden class="">
                    Section
                  </option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                </select>
              </div>
            </div>

            <div>
              <label class="block text-[12px] font-medium text-gray-700"
                >Year</label
              >
              <div class="mt-1 relative rounded-md">
                <select
                  [(ngModel)]="profiledata.year"
                  [ngModelOptions]="{ standalone: true }"
                  class="py-2 px-3 outline-none block w-full pr-12 sm:text-sm border-gray-300 bg-slate-50 rounded-md cursor-pointer"
                >
                  <option value="" selected disabled hidden class="">
                    Year
                  </option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
          </div>

          <div>
            <label class="block text-[12px] font-medium text-gray-700"
              >Email</label
            >
            <div class="mt-1 relative rounded-md">
              <input
                type="text"
                class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
                placeholder="Your email"
                [(ngModel)]="profiledata.email"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </div>
          </div>

          <div>
            <label class="block text-[12px] font-medium text-gray-700"
              >Course</label
            >
            <div class="mt-1 relative rounded-md">
              <select
                [(ngModel)]="profiledata.CourseId"
                [ngModelOptions]="{ standalone: true }"
                class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100 cursor-pointer"
              >
                <option *ngFor="let course of courses" [value]="course.id">
                  {{ course.title }}
                </option>
              </select>
            </div>
          </div>

          <button
            [disabled]="submitLoading"
            class="mt-2 grid place-items-center bg-red-500 font-semibold rounded-md shadow-sm text-slate-50 py-2 border-red-600 hover:bg-red-500/80 transition-all w-full"
          >
            <div class="flex items-center w-fit mx-autoo" *ngIf="submitLoading">
              <svg
                class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <circle
                  class="opacity-25"
                  cx="12"
                  cy="12"
                  r="10"
                  stroke="currentColor"
                  stroke-width="4"
                ></circle>
                <path
                  class="opacity-75"
                  fill="currentColor"
                  d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
                ></path>
              </svg>

              <span>Processing</span>
            </div>

            <span *ngIf="!submitLoading">Update</span>
          </button>
        </div>
      </form>
    </div>
  </p-dialog>
</div>

<div class="">
  <div *ngIf="true" class="p-5 max-w-[1200px] mx-auto">
    <div
      *ngIf="true"
      class="flex w-[40px] h-[40px] rounded-full items-center justify-center border border-gray-200 text-slate-800 font-semibold my-10 cursor-pointer hover:bg-gray-300 transition-all"
      (click)="goBack()"
    >
      <i class="fal fa-arrow-left"></i>
    </div>

    <div class="relative">
      <img
        src="../../../../../assets/images/background.jpg"
        alt=""
        class="h-[150px] lg:h-[200px] object-cover w-full rounded-2xl"
      />

      <div
        class="flex items-center md:justify-between p-5 px-8 pt-0 relative -top-16"
      >
        <div class="md:flex relative w-fit mx-auto md:mx-0">
          <div class="bg-slate-50/50 w-fit h-fit rounded-full md:mr-4">
            <img
              [src]="profile.image == null ? defaultImg : profile.image"
              alt=""
              class="w-[200px] h-[200px] rounded-full object-cover mx-auto"
            />
          </div>

          <div class="mt-5 lg:mt-20 mx-auto text-center lg:text-start">
            <h1 class="font-semibold text-2xl capitalize">
              John Doe
            </h1>
            <div class="lg:flex items-center">
              <div class="text-[10px] flex items-center w-fit mx-auto lg:mx-0">
                <p
                  class="mr-1 font-semibold bg-gray-100 py-1 px-2 rounded-md"
                >
                  Alumnus
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-center">
          <button
            (click)="logout()"
            *ngIf="profile.isPasswordChange == false"
            class="bg-red-100 mr-3 hover:bg-red-200 border border-red-200 h-fit px-2 py-1 text-sm rounded-md font-semibold"
          >
            <i class="fad fa-sign-out mr-1"></i>
            Logout
          </button>

          <div
            (click)="op.toggle($event)"
            class="absolute -top-32 lg:top-0 right-3 lg:right-0 lg:relative bg-gray-200 w-[40px] h-[40px] rounded-full grid place-items-center text-gray-500 cursor-pointer hover:bg-gray-200/80 transition-all"
          >
            <i class="fal fa-cog text-2xl"></i>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="bg-slate-50 p-1 rounded-md w-fit">
          <table class="border border-gray-300 w-fit">
            <tr class="w-fit">
              <td class="border border-gray-300 p-1 w-fit px-2 text-[12px]">
                ID number:
              </td>
              <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
                2018-02023
              </td>
            </tr>

            <tr>
              <td class="border border-gray-300 p-1 px-2 text-[12px]">
                Course:
              </td>
              <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
                Bachelor of Science in Information Technology
              </td>
            </tr>

            <tr>
              <td class="border border-gray-300 p-1 px-2 text-[12px]">
                Email:
              </td>
              <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
                student@evsu.edu.ph
              </td>
            </tr>
            <tr>
              <td class="border border-gray-300 p-1 px-2 text-[12px]">
                Academic Status:
              </td>
              <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
                <p
                  class="mr-1 font-semibold text-white bg-red-500 py-1 px-2 rounded-md w-fit"
                >
                  Graduate
                </p>
              </td>
            </tr>
            <tr>
              <td class="border border-gray-300 p-1 px-2 text-[12px]">
                Employment Status:
              </td>
              <td class="border border-gray-300 p-1 px-2 text-[12px] w-fit">
                <p
                  class="mr-1 font-semibold text-white bg-red-500 py-1 px-2 rounded-md w-fit"
                >
                  Unemployed
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <hr />

      <div class="mt-10 mb-20">
        <div class="mt-5 md:mt-0">
          <div class="mb-2 font-semibold pl-6">Employment History</div>

          <div class="max-h-[400px] min-h-[200px] overflow-y-auto p-2 border border-slate-100 rounded-md">

            <div *ngIf="history.length == 0" class="h-[200px] grid place-items-center">
              <div class="">
                <img
                  src="../../../../../assets/images/empty-box.png"
                  alt=""
                  class="w-[80px] h-[80px] object-cover mx-auto"
                />
                <p class="text-[12px] text-center mt-2">No data</p>
              </div>
            </div>

            <p-timeline [value]="history" align="left">
              <ng-template pTemplate="content" let-log>
                <div class="mb-1">
                  <div class="text-[10px] md:text-[11px]">
                    {{ dateFormat(log.createdAt) }}
                  </div>
                  <div class="font-semibold text-[12px] md:text-sm">{{ log.job }}</div>
                  <p class="text-[11px]">{{ log.description }}</p>
                </div>
              </ng-template>
            </p-timeline>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


<p-overlayPanel #op>
  <ng-template pTemplate>
    <div class="md:max-w-[400px]">
      <div class="grid gap-1">
        <div
          *ngIf="true"
          (click)="editModal = true; op.toggle($event)"
          class="text-[12px] px-2 py-2 hover:bg-slate-100 cursor-pointer transition-all"
        >
          <i class="fal fa-user mr-1"></i>Edit Profile
        </div>
        <div
          *ngIf="true"
          (click)="editModal = true; op.toggle($event)"
          class="text-[12px] px-2 py-2 hover:bg-slate-100 cursor-pointer transition-all"
        >
          <i class="fal fa-user mr-1"></i>Update Employment
        </div>
        <div
          (click)="changePasswordModal = true"
          class="text-[12px] px-2 py-2 hover:bg-slate-100 cursor-pointer transition-all"
        >
          <i class="fal fa-cog mr-1"></i>Change Password
        </div>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<p-dialog
  header="Change Password"
  [(visible)]="changePasswordModal"
  [modal]="true"
  [style]="{ maxWidth: '400px', width: '400px' }"
>
  <div class="mt-3">
    <form (ngSubmit)="changePassOnsubmit()">
      <div class="grid gap-2">
        <div>
          <label class="block text-[12px] font-medium text-gray-700"
            >Old Password</label
          >
          <div class="mt-1 relative rounded-md">
            <input
              type="text"
              class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
              placeholder="Your old password"
              [(ngModel)]="changePassData.oldpass"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
        </div>

        <div>
          <label class="block text-[12px] font-medium text-gray-700"
            >New Password</label
          >
          <div class="mt-1 relative rounded-md">
            <input
              type="text"
              class="outline-none block text-[12px] w-full p-3 rounded-md bg-slate-100"
              placeholder="Your new password"
              [(ngModel)]="changePassData.newpass"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
        </div>

        <button
          [disabled]="submitLoading"
          class="mt-2 grid place-items-center bg-red-500 font-semibold rounded-md shadow-sm text-slate-50 py-2 border-red-600 hover:bg-red-500/80 transition-all w-full"
        >
          <div class="flex items-center w-fit mx-auto" *ngIf="submitLoading">
            <svg
              class="animate-spin -ml-1 mr-3 h-5 w-5 text-white"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              ></circle>
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              ></path>
            </svg>

            <span>Processing</span>
          </div>

          <span *ngIf="!submitLoading">Submit</span>
        </button>
      </div>
    </form>
  </div>
</p-dialog>

