<div class="relative z-40 mt-10 pb-20">
    <div class="">
      <h1 class="font-bold text-xl md:text-3xl text-white">Files</h1>
      <p class="text-slate-100 text-[12px]">Information about the system</p>
    </div>
    <div class="mt-5">
        <div>
            <ol class="flex gap-4 items-center">
                <li routerLink="/admin/files" class="flex items-center cursor-pointer hover:text-slate-500">
                    <i class="fal fa-folder mr-1"></i>
                    <p class="text-[12px]">Files</p>
                </li>
                <li class="text-bold text-xl flex items-center justify-center">
                    <i class="fal text-[13px] fa-greater-than"></i>
                </li>
                <li class="flex items-center cursor-pointer hover:text-slate-500">
                    <i class="fal fa-folder-open mr-1"></i>
                    <p class="text-[12px]">{{status == 'selfEmployed' ? 'Self Employed' : status | titlecase}}</p>
                </li>
            </ol>
        </div>
        <div class="mt-10">
            <ol *ngIf="isLoading">
                <li class="flex gap-4 flex-wrap">
                    <div routerLink="/admin/files/{{status}}/{{file.User.id}}" *ngFor="let file of files" class="flex items-center hover:text-slate-500 justify-center flex-col cursor-pointer group">
                        <i class="fal fa-folder text-5xl"></i>
                        <p class="text-bold w-[100px] text-center truncate group-hover:text-clip group-hover:break-all text-[12px]">{{file.User.name}}</p>
                    </div>
                    <div *ngIf="!files.length" class="w-full flex flex-col justify-center items-center">
                        <img class="w-[18rem] h-[18rem]" src="../../../../../../assets/images/noFilesWithNPC.jpg" alt="">
                        <p class="font-bold mt-1">Empty File(s)</p>
                    </div>
                </li>
            </ol>
            <div *ngIf="!isLoading" class="w-full h-full flex items-center justify-center">
                <img src="../../../../../../assets/loading.gif" class="w-[150px] h-[150px]" alt="">
            </div>
        </div>
    </div>
</div>