<div class="h-screen w-screen overflow-hidden flex align-center items-center justify-center relative">
    <img 
    src="../../../../assets/images/background.jpg" 
    alt="backgroundImg" 
    class="absolute w-screen h-screen top-0 left-0 -z-20">
    <img
        (click)="goBack()" 
        src="../../../../assets/icons/left-arrow.png" 
        class="z-30 h-10 w-10 bg-blue-200 border border-gray-500 hover:bg-blue-300 rounded-full p-3 absolute top-5 left-8 cursor-pointer">
    <form method="POST" [formGroup]="passwordForm" class="z-20  flex-col w-screen h-screen flex align-center items-center justify-center mx-10 md:mx-20 relative">
        <img class="md:h-1/2 h-1/5 -z-10 translate-y-12 md:translate-y-5 left-0 absolute" src="../../../../assets/images/password.png" alt="">
        <div class="flex w-full justify-center align-center flex-col relative mb-6">
            <label class="bg-blue-100 px-2 py-1 rounded shadow-md text-gray-600 font-bold text-md absolute -translate-y-10 mb-3 text-gray-900">Password</label>
            <input formControlName="password" type="password" class="text-black text-bold placeholder-gray-700 bg-white text-xl bg-opacity-60 shadow-md w-full p-3 outline-0 rounded" placeholder="Enter email..."  />
        </div>
        <div class="flex w-full justify-center align-center flex-col relative mt-6">
            <label class="bg-blue-100 px-2 py-1 rounded shadow-md text-gray-600 font-bold text-md absolute -translate-y-10 mb-3 text-gray-900">Confirm Password</label>
            <input formControlName="confirmPassword" type="password" class="text-black text-bold placeholder-gray-700 bg-white text-xl bg-opacity-60 shadow-md w-full p-3 outline-0 rounded" placeholder="Enter confirm email..."  />
        </div>
        <div class="w-full flex justify-end">
            <app-custom-btn
                class="mt-2"
                name= 'Submit'
                [isLoading]="isLoading"
                width="w-20"
                bgColor="bg-blue-400"
                (btnEmit)="clickSubmit($event)"
            ></app-custom-btn>
        </div>
    </form>
</div>