<div  *ngIf="!isLoading"  class="flex md:flex-row flex-col">
    <div *ngIf="!isNoSurvey">
        <ol class="grid text-center grid-cols-3 md:border-r-2 md:border-r-red-500 p-2 md:grid-cols-1 px-3 mb-5 gap-y-5 gap-x-2 text-[14px] font-bold">
            <li (click)="changeSelectedRoute(survey)" *ngFor="let survey of surveys" [class]="routeSelected==survey ? 'cursor-pointer bg-slate-200 p-1 rounded max-w-[200px] grid ' : 'cursor-pointer p-1 max-w-[200px] rounded w-full grid'">{{survey | titlecase}}</li>
        </ol>
    </div>
    <div *ngIf="!isDataLoading" class="flex items-center justify-center w-full">
        <div class="w-[25rem] md:w-[650px]">
            <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
    <div *ngIf="isDataLoading" class="flex items-center justify-center w-full">
        <img src="../../../../../../assets/loading.gif" class="w-[200px] h-[200px]" alt="">
    </div>
</div>

<div *ngIf="isLoading" class="flex items-center justify-center w-full">
    <img src="../../../../../../assets/loading.gif" class="w-[200px] h-[200px]" alt="">
</div>

<div *ngIf="!isLoading && isNoSurvey" class="flex flex-col items-center justify-center w-full">
    <img src="../../../../../../assets/images/nosurveyadmin.jpg" class="w-[200px] h-[200px]" alt="">
    <p class="font-bold text-slate-800 text-2xl">No Survey</p>
</div>