<div class="h-screen w-screen overflow-hidden flex align-center items-center justify-center relative">
    <img 
    src="../../../../assets/images/background.jpg" 
    alt="backgroundImg" 
    class="absolute w-screen h-screen top-0 left-0 -z-20">
    <img
        (click)="goBack()" 
        src="../../../../assets/icons/left-arrow.png" 
        class="z-30 h-10 w-10 bg-blue-200 border border-gray-500 hover:bg-blue-300 rounded-full p-3 absolute top-5 left-8 cursor-pointer">
    <form class="z-20 md:flex-row flex-col w-screen h-screen flex align-center items-center justify-center mx-10 md:mx-20 relative">
        <img class="md:h-1/2 h-1/5 -z-10 -translate-y-10 left-0 absolute" src="../../../../assets/images/message.png" alt="">
        <input type="text" class="text-black text-bold placeholder-gray-700 bg-gray-400 bg-opacity-60 shadow-md w-full p-3 outline-0 rounded" placeholder="Enter email..."  />
        <app-custom-btn
            class="md:mt-0 mt-2"
            name= 'Submit'
            [isLoading]="isLoading"
            width="w-20"
            bgColor="bg-blue-400"
            (btnEmit)="clickSubmit($event)"
        ></app-custom-btn>
    </form>
</div>