<div class="flex md:flex-row flex-col">
    <div>
        <ol class="grid text-center grid-cols-3 md:border-r-2 md:border-r-red-500 p-2 md:grid-cols-1 px-3 mb-5 gap-y-5 gap-x-2 text-[14px] font-bold">
            <li class="bg-red-100 py-1 rounded w-full grid">Employed</li>
            <li>Self Employed</li>
            <li>Unemployed</li>
        </ol>
    </div>
    <div class="flex items-center justify-center w-full">
        <div class="w-[25rem] md:w-[650px]">
            <p-chart type="line" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>
    </div>
</div>