<div>
    <div>
        <p class="my-7 flex items-center justify-center font-extrabold text-slate-800 ">Employed Overview</p>
    </div>
    <div class="my-7 flex flex-wrap gap-2">


        <article class="border h-fit min-w-[200px] shadow-md mx-auto rounded p-3">
            <div class="font-bold">Job Status</div>
            <div class="mt-2">
                <ol class="gap-2 text-[12px]">
                    <li class="flex items-center gap-2  ">
                        <p>Permanent</p>
                        <p>321</p>
                    </li>
                    <li class="flex items-center gap-2 ">
                        <p>Temporary</p>
                        <p>121</p>
                    </li>
                    <li class="flex items-center gap-2 ">
                        <p>Contractual</p>
                        <p>121</p>
                    </li>
                    <li class="flex items-center gap-2 ">
                        <p>Job Order/Casual/COS</p>
                        <p>121</p>
                    </li>
                </ol>
            </div>
        </article> 

        <article class="flex flex-col h-fit min-w-[200px] mx-auto  border shadow-md rounded p-3">
            <div class="font-bold">Type of organization</div>
            <div class="mt-2">
                <ol class="gap-2 text-[12px]">
                    <li class="flex items-center gap-2  ">
                        <p>Private</p>
                        <p>321</p>
                    </li>
                    <li class="flex items-center gap-2 ">
                        <p>Government</p>
                        <p>121</p>
                    </li>
                </ol>
            </div>
        </article>

        <article class="border h-fit min-w-[200px] mx-auto  shadow-md rounded p-3">
            <div class="font-bold">How did you come to know about your current job?</div>
            <div class="mt-2">
                <ol class="gap-2 text-[12px]">
                    <li class="flex items-center gap-2  ">
                        <p>Through friends and relatives</p>
                        <p>321</p>
                    </li>
                    <li class="flex items-center gap-2 ">
                        <p>Advertisement in media</p>
                        <p>121</p>
                    </li>
                    <li class="flex items-center gap-2 ">
                        <p>Walk-in Applicant</p>
                        <p>121</p>
                    </li>
                    <li class="flex items-center gap-2 ">
                        <p>Arrange by school job placement officer</p>
                        <p>121</p>
                    </li>
                    <li class="flex items-center gap-2 ">
                        <p>Others</p>
                        <p>121</p>
                        <i class="fal text-blue-700 hover:text-red-700 cursor-pointer font-bold fa-eye"></i>
                    </li>
                </ol>
            </div>
        </article> 
    </div>
</div>