<div class="relative z-40 mt-10 pb-20">
  <div class="">
    <h1 class="font-bold text-xl md:text-3xl text-white">About</h1>
    <p class="text-slate-100 text-[12px]">Information about the system</p>
  </div>

  <div class="mt-20 pb-10">
    - The Alumni Monitoring System is a comprehensive and efficient platform designed to track and manage the activities and progress of alumni from educational institutions. It serves as a vital tool for institutions to maintain a strong connection with their former students and harness the benefits of a thriving alumni network.

    <br><br>This system provides various features that enable institutions to stay updated with the professional achievements, career paths, and contributions of their alumni. It facilitates the collection and storage of essential information such as contact details, employment history, educational pursuits, and skills acquired post-graduation. By maintaining an extensive alumni database, institutions can foster meaningful engagement and offer valuable support to their alumni community.
    
    <br><br>With the Alumni Monitoring System, institutions can establish seamless communication channels to share updates, job opportunities, networking events, and other relevant information. By leveraging these channels, alumni can stay connected with their alma mater, exchange knowledge and experiences, and contribute to the growth of the institution and its current students. This system also provides a platform for alumni to connect with fellow graduates, fostering collaboration and mentorship opportunities.
    
    <br><br>Moreover, the Alumni Monitoring System serves as a valuable resource for institutions in terms of alumni fundraising initiatives and donor management. By monitoring the achievements and success stories of alumni, institutions can showcase the positive impact of their education, thereby inspiring potential donors to contribute to scholarships, research, and other institutional projects.
    
    <br><br>In summary, the Alumni Monitoring System plays a pivotal role in building and maintaining a strong and engaged alumni network. It enables institutions to track the progress and accomplishments of their former students, facilitate effective communication, foster collaboration, and leverage alumni support for institutional development.
  </div>

  <hr />

  <div class="mt-24 pb-10">
    <h2 class="font-semibold text-lg md:text-xl mb-5 text-slate-800">
      Researchers/Programmers
    </h2>

    <div class="grid grid-cols-2 lg:flex gap-5">
      <div class="py-5 rounded-lg">
        <div
          class="w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200"
        >
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
            class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          JOhn Doe
        </h2>
      </div>

      <div class="py-5 rounded-lg">
        <div
          class="w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200"
        >
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
            class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          John Doe
        </h2>
      </div>

      <div class="py-5 rounded-lg col-span-2">
        <div
          class="w-fit rounded-full h-fit mx-auto p-1 border-4 border-gray-200"
        >
          <img
            src="https://avatars.githubusercontent.com/u/59472122?v=4"
            alt=""
            class="w-[100px] h-[100px] md:w-[150px] md:h-[150px] object-cover rounded-full"
          />
        </div>
        <h2 class="text-center mt-4 font-medium text-[12px] md:text-[15px]">
          John Doe
        </h2>
      </div>
    </div>
  </div>

</div>